name: Auto Video

on:
  workflow_dispatch:
    inputs:
      mode:
        description: "fact или story"
        required: true
        default: "fact"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          npm install -g edge-tts

      - name: Create text
        run: |
          mkdir -p out
          echo "Факт: Вода может кипеть и замерзать одновременно." > out/script.txt

      - name: Voice
        run: |
          edge-tts --voice ru-RU-DmitryNeural --file out/script.txt --write-media out/audio.mp3

      - name: Video
        run: |
          ffmpeg -y -f lavfi -i color=c=black:s=1080x1920:d=5 -i out/audio.mp3 -shortest out/video.mp4

      - name: Send
        run: |
          FILE=$(ls out/*.mp4 | head -n 1)
          curl -F chat_id=${{ secrets.CHAT_ID }} -F video=@$FILE https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendVideo
