name: Auto Video

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install system
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg python3 python3-pip

      - name: Install edge-tts python
        run: |
          pip3 install edge-tts

      - name: Create text
        run: |
          mkdir -p out
          echo "Факт: Мозг человека производит достаточно энергии, чтобы зажечь лампочку." > out/script.txt

      - name: Voice
        run: |
          edge-tts --voice ru-RU-DmitryNeural --file out/script.txt --write-media out/audio.mp3

      - name: Video 
        run: |
          ffmpeg -y -f lavfi -i color=c=black:s=1080x1920:d=7 \
          -i out/audio.mp3 \
          -shortest out/video.mp4

      - name: Send
        run: |
          FILE=$(ls out/*.mp4 | head -n 1)

          curl -F chat_id=${{ secrets.TELEGRAM_CHAT }} \
               -F video=@$FILE \
               https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendVideo

