name: Auto Video

on:
  workflow_dispatch:
    inputs:
      mode:
        description: "fact или story"
        required: true
        default: "fact"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg python3
        npm install -g edge-tts-cli

    - name: Generate text
      run: |
        mkdir -p out

        https://github.com/topfikdenhik-a11y/auto-video
        shuf -n 1 out/text.txt > out/script.txt

     - name: Install edge-tts
  run: |
     npm install -g edge-tts

     - name: Install edge-tts
  run: |
    npm install -g edge-tts
    
     - name: Озвучка
  run: |
    edge-tts \
      --voice ru-RU-DmitryNeural \
      --file out/script.txt \
      --write-media out/audio.mp3



    - name: Видео
      run: |
        ffmpeg -y -f lavfi -i color=c=black:s=1080x1920:d=6 \
        -i out/audio.mp3 \
        -vf "drawtext=text='$(cat out/script.txt)':fontcolor=white:fontsize=48:x=50:y=900" \
        -shortest out/video.mp4

    - name: Send to Telegram
      run: |
        FILE=$(ls out/*.mp4 | head -n 1)

        curl -F chat_id=${{ secrets.CHAT_ID }} \
             -F video=@$FILE \
             https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendVideo
